---
import Button from "./Button.astro";
---

<div class="w-full h-full selaura-footer flex flex-col gap-12">
    <section class="flex flex-col gap-2">
        <p class="footer-title">Selaura Client</p>
        <p>Free, open-source utility client for Minecraft: Bedrock Edition</p>
    </section>
    <section class="flex flex-col gap-2">
        <h2 class="text-2xl font-bold">Links</h2>
        <div class="flex flex-row gap-2">
            <a href="https://github.com/selauraclient/" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://discord.gg/37zCgBHGuS" target="_blank">
                <i class="fa-brands fa-discord"></i>
            </a>
        </div>
    </section>
    <section class="flex-col">
        <p class="flex text-bold">Made with ❤️ by the Selaura Client Team.</p>
    </section>
    <section>
        <Button text="Download" icon="arrow-right" iconPosition="right"/>
    </section>
</div>

<style>
    .selaura-footer {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
        position: relative;
        bottom: 0;
        padding: 6rem;
    }

    .footer-title {
        font-size: 2.5rem;
    }
</style>
