<div class="w-full selaura-footer flex">
    Footer
</div>

<style>
    .selaura-footer {
        background-color: var(--selaura-dark);
        color: var(--selaura-light);
        position: relative;
        bottom: 0;
        padding: 1rem 2rem;
    }
</style>