---
import "../styles/global.css";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import Button from "./Button.astro";
---

<div class="w-full bg-transparent px-6 py-3 flex flex-row items-center gap-4 justify-center">
    <Button text="Download" outline/>
    <ThemeSwitcher />
</div>