---
import "../styles/global.css";
---

<div class="theme-switcher">
    <button id="theme-toggle">
        <i class="fa-solid fa-sun"></i>
        <i class="fa-solid fa-moon"></i>
    </button>
</div>

<script>
    const themeToggle = document.getElementById("theme-toggle");
    const currentTheme = localStorage.getItem("theme") || "light";
    themeToggle?.setAttribute("class", "theme-" + currentTheme);

    if (currentTheme === "dark") {
        document.documentElement.setAttribute("data-theme", "dark");
    } else {
        document.documentElement.setAttribute("data-theme", "light");
    }

    themeToggle?.addEventListener("click", () => {
        const currentTheme =
            document.documentElement.getAttribute("data-theme");
        const newTheme = currentTheme === "light" ? "dark" : "light";
        document.documentElement.setAttribute("data-theme", newTheme);
        themeToggle.setAttribute("class", "theme-" + newTheme);
        localStorage.setItem("theme", newTheme);
    });
</script>

<style>
    #theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
    }

    #theme-toggle i {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        display: none;
    }

    #theme-toggle.theme-light i.fa-moon {
        display: block;
    }

    #theme-toggle.theme-dark i.fa-sun {
        display: block;
    }
</style>
